@media only screen and (max-width: 936px){
    footer{
        background-color: #f2248e;
        border-radius: 10px;
        padding: 0 0.4em; 
    }
    .main-content-936px{
        display: flex;
    }
    .menu-936px{
        background-color: #e3e577;
        width: 22.5%;
        border-radius: 10px;
        display: inline-block;
        margin-right: 2.5%;
        max-height: 10em;
    }
    .menu-936px ul{
        list-style: none;
        padding: 0 1em;
    }
    .menu-936px ul li a{
        text-decoration: none;
    }
    .menu-2-936px{
        display: none;
    }
    .res-div-936px{
        display: block;
        justify-content: center;
        border-radius: 10px;
        background-color: #e3e577; 
    }

    .res-div-936px h1{
        font-size: 24px;
    }

    .res-div-936px h2{
        font-size: 20px; 
    }

    .res-div-936px h1, .res-div-936px h2{
        display: flex;
        justify-content: center;
    }
    .res-exas-936px{
        display: inline-block;
        padding: 0px 1em;
        width: 75%;
        background-color: #1954e8;
        border-radius: 10px;
    }
    .sub-content-1-936px{
        display: flex;
        width: 57.5%;
        margin-right: 2.5%;
    }
    .sub-content-2-936px{
        margin: 0em;
        display: block;
        width: 40%;
    }
    .tools-box-936px{
        display: block;
        width: 91%;
        background-color: #1954e8;
        border-radius: 10px;
        padding: 0em 1em;
        min-height: 100px;
    }
    .tuto-box-936px{
        display: block;
        padding: 0px 1em;
        width: 91%;
        background-color: #1954e8;
        border-radius: 10px;
        min-height: 100px;
    }
}
@media only screen and (max-width: 600px){
    footer{
        background-color: #f2248e;
        border-radius: 10px;
        padding: 0 0.4em;
    }
    .main-content-600px{
        display: block;
    }
    .menu-600px{
        display: none;
    }
    .menu-2-600px{
        display: block;
        width: 100%;
        background-color: #e3e577;
        border-radius: 10px;
        margin: 1em 0em;
        padding: 0.2em 0px;
    }
    .res-div-600px{
        display: block;
        border-radius: 10px;
        background-color: #e3e577; 
    }

    .res-div-600px h1{
        font-size: 24px;
    }

    .res-div-600px h2{
        font-size: 20px; 
    }

    .res-div-600px h1, .res-div-600px h2{
        display: flex;
        justify-content: flex-start;
    }
    .res-exas-600px{
        display: block;
        padding: 0.2em 0px;
        width: 100%;
        background-color: #1954e8;
        border-radius: 10px;
    }
    .sub-content-1-600px{
        display: block;
        width: 100%;
    }
    .sub-content-2-600px{
        margin: 0em;
        display: block;
        width: 100%;
    }
    .tools-box-600px{
        display: block;
        width: 100%;
        background-color: #1954e8;
        border-radius: 10px;
        padding: 0.4em 0px;
        min-height: 100px;
    }
    .tuto-box-600px{
        display: block;
        margin: 1em 0px;
        padding: 0.4em 0px;
        width: 100%;
        background-color: #1954e8;
        border-radius: 10px;
        min-height: 100px;
    }
}