@media only screen and (max-width: 936px){
    footer{
        background-color: #f2248e;
        border-radius: 10px;
        padding: 0 0.4em; 
    }
    #main-content{
        display: flex;
    }
    #menu{
        background-color: #e3e577;
        width: 22.5%;
        border-radius: 10px;
        display: inline-block;
        margin-right: 2.5%;
        max-height: 10em;
    }
    #menu ul{
        list-style: none;
        padding: 0 1em;
    }
    #menu ul li a{
        text-decoration: none;
    }
    #res-div{
        display: block;
        justify-content: center;
        border-radius: 10px;
        background-color: #e3e577; 
    }

    #res-div h1{
        font-size: 24px;
    }

    #res-div h2{
        font-size: 20px; 
    }

    #res-div h1, #res-div h2{
        display: flex;
        justify-content: center;
    }
    #res-exas{
        display: inline-block;
        padding: 0px 1em;
        width: 75%;
        background-color: #1954e8;
        border-radius: 10px;
    }
    #sub-content-1{
        display: flex;
        width: 57.5%;
        margin-right: 2.5%;
    }
    #sub-content-2{
        margin: 0em;
        display: block;
        width: 40%;
    }
    #tools-box{
        display: block;
        width: 91%;
        background-color: #1954e8;
        border-radius: 10px;
        padding: 0em 1em;
        min-height: 100px;
    }
    #tuto-box{
        display: block;
        padding: 0px 1em;
        width: 91%;
        background-color: #1954e8;
        border-radius: 10px;
        min-height: 100px;
    }
}